<h1>Connection Sucessful</h1>
<table>
  <tr>
    <th>Connection Start</th>
    <td><%= Time.now %></td>
  </tr>
  <tr>
    <th>Account</th>
    <td><%= @vpnsession.account_name %></td>
  </tr>
  <tr>
    <th>Server Address</th>
    <td><%= @vpnsession.server_address %></td>
  </tr>
</table>