<h1><%= @user.name %></h1>
<table>
    <tr>
        <th>E-Mail</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>Phone</th>
        <td><%= @user.phone_number %></td>
    </tr>
</table>
<p>
  Select the following link to enter VPN configuration parameters
</p>
<div class="btn">
  <%= link_to "Connect to VPN", new_vpn_sessions_path%>
</div>